#formLogin, #infoLogout{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background: white;
    padding: 30px;
    text-align: center;
    @include box-shadow();
}

.coverSitpage{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 998;
    background: white;
    opacity: .6;
}

// Inormation developer
#devInfo{
    background-color: #ffffb6;
    padding: 2rem;
    position: fixed;
    z-index: 999;
    right: 1.5rem;
    bottom: 1.5rem;
    @include box-shadow();
}