.box-flight{
    text-align: center;
    margin-bottom: $sp-element-bottom;
    @media (max-width: $md){
        flex: 0 0 50%;
        max-width: 50%;
    }
    @media (max-width: $sm){
        flex: 0 0 100%;
        max-width: 100%;
    }

    &__body{
        background: rgba($primary, 0.75);
        color: white;
        padding: 4rem 2rem;
        transition: .6s all ease-in-out;
        height: 100%;
        &:hover{
            background: rgba($primary, 1);
            cursor: pointer;
        }
    }
}