#header{
    height: 15rem;
    padding: 7.5rem;
    display: flex;
    justify-content: space-between;
    @media (max-width: $md){
        padding: 2rem;
        flex-direction: column;
        justify-content: start;
    }
}

#account{
    @media (max-width: $md){
        text-align: right;
    }
}