// ###############################
// ######### Variables ###########
// ###############################

// ### colors
$primary: #000091;
$danger: #ff0000;

// ### spacings
$sp-element-bottom: 3rem;


// ### brake points

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// ###############################
// ##### Imports files scss ######
// ###############################

// #### Utils ####
@import
    "utils/reboot",
    "utils/animations",
    "utils/mixins";

// #### Base ####
@import
    "base/typography",
    "base/base";

// #### Components ####
@import
    "components/grid",
    "components/button",
    "components/form",
    "components/login";

// #### Layout ####
@import
    "layout/header",
    "layout/footer";

// #### Pages ####
@import
    "pages/flightContainers",
    "pages/bookingSeats";